In [6]:
print("hello")

hello

In [7]:
print("GITAM",end="@")
print("GITAM")

GITAM@GITAM

In [8]:
a=10
print(a)
a*2

10

20

In [9]:
name="gitam"
address="hyd"
print("university name",name,"place",address)

university name gitam place hyd

In [10]:
input("enter your name")

enter your namevaishnavi

'vaishnavi'

In [11]:
x=5
print(type(x))

<class 'int'>

In [13]:
x=1
y=2.8
z=1j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [16]:
a=float(x)
b=int(y)
c=complex(x)
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'int'>
<class 'complex'>

# arithematic operators

In [2]:
x=6
y=5
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
print(x**y)

11
1
30
1.2
1
1
7776

# logical operators

In [6]:
a=20
b=30
print(a>=10 and a<=15)
print(b>=10 and b<=40)
print(a>=10 or a<=15)

False
True
True

In [7]:
a=20
b=30
print(a>=10 and a<=15)
print(b>=10 and b<=40)
print(a>=10 or a<=15)
print(not a) #negation operator

False
True
True
False

# relational operators

In [8]:
a=19
b=20
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)
a!=b

False
False
True
True
False

True

# membership operator

In [11]:
str1="abc"
print('c' in str1)
print('c' not in str1)

True
False

# conditional statements

In [ ]:
#check for odd number
n=input("enter a number")
if n%2!=0
 print("odd")

# programs

In [1]:
#even or odd

n=int(input("enter a number"))
if n%2!=0:
    print("odd")
else:
    print("even")

enter a number3
odd

In [2]:
#divisibility of 3 and 5

n=int(input("enter a number"))
if n%3==0 and n%5==0:
    print("divisible")
else:
    print("not divisible")

enter a number15
divisible

In [3]:
#positive or negative or 0

n=int(input("enter a number"))
if n>0:
    print("positive")
elif n<0:
    print("negative")
elif n==0:
    print("zero")

enter a number-2
negative

In [4]:
#leap year

year=int(input("enter year"))
if(year%400==0) or(year % 100!=0 and year %4==0):
    print("leap year")
else:
    print("not a leap year")

enter year2016
leap year

In [5]:
year=int(input("enter year"))
if year %4==0:
    print("leap year")
elif year %4!=0:
    print("not a leap year")

enter year2016
leap year