# functions

#def FunctionName(arguments):
-statements
-return

In [8]:
#input:1234
#output:6(2+4)
def EvenDigitSum(n):
    s=0
    while n!=0:
        r=n%10
        if r%2==0:
            s=s+r
        n=n//10
    print(s)
EvenDigitSum(1234)

6

# print largest number

In [9]:
def LargeNumber(n):
    large=0
    while n!=0:
        r=n%10
        if large<r:
            large=r
        n=n//10
    return large, #return allocates some memory and stores the value,print directly prints the value
l=LargeNumber(19535)
l

(9,)

# collection types

1. list
2. tuple
3. set
4. dictionaries

# list

In [10]:
list1=[1,1.2,'abc']
list1

[1, 1.2, 'abc']

In [14]:
l=[1,5,6,3,2]
print(l[0])
print(l[1])
print(l[2])
print(l[3])
print(l[4])
print(l[-1]) #indexing
print(l[-3])

1
5
6
3
2
2
6

In [27]:
l=[1,5,6,3,2]
print(l[2:3]) #accessing elements from index 2 to index 3
print(l[2:4])
print(l[0:3])
print(l[0:4:2])
print(l[0:-2])
print(l[-1:])
print(l[-3:])
print(l[::2])

[6]
[6, 3]
[1, 5, 6]
[1, 6]
[1, 5, 6]
[2]
[6, 3, 2]
[1, 6, 2]

In [31]:
a=[1,2,3,4,5,6]
print(a[::2])

[1, 3, 5]

# basic functions in lists

In [39]:
l=[1,5,6,3,2]
print(max(l))
print(min(l))
print(sum(l))
print(len(l))

6
1
17
5

In [38]:
l=[1,5,6,3,2]
print(sum(l)/len(l))

3.4

In [40]:
v=['a','s','รง']
print(max(v))
print(min(v))

รง
a

In [41]:
l=[1,5,6,3,2]
l[0]="python"
l

['python', 5, 6, 3, 2]

In [42]:
l[4]="gitam"
l

['python', 5, 6, 3, 'gitam']

In [48]:
l

['python', 5, 6, 3]

In [49]:
del l[3]

In [51]:
del l[2]

In [52]:
del l[1]

In [53]:
l

['python']

In [54]:
del l[0]

In [55]:
l

[]

In [56]:
l.append("vaishu")

In [57]:
l

['vaishu']

In [68]:
k.extend("gitam")

In [69]:
k

[2, 6, 4, 5, 'g', 'i', 't', 'a', 'm', 'g', 'i', 't', 'a', 'm']

In [66]:
k=[2,6,4,5]
print(k*2)
print(2 in k)#to check whether the value is present in the list or not
print(9 in k)

[2, 6, 4, 5, 2, 6, 4, 5]
True
False

In [70]:
e=[2,6,4,5]
e

[2, 6, 4, 5]

# to access the element through iterations

In [74]:
for i in [10,3,6,7]:
    print(i)

10
3
6
7

In [77]:
l=[1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [78]:
print(l)
for i in range(len(l)):
    print(l[i])

[1, 2, 3, 4, 5]
1
2
3
4
5

In [79]:
range(len(l))

range(0, 5)

In [80]:
len(l)

5

In [81]:
l.append("python")

In [82]:
l

[1, 2, 3, 4, 5, 'python']

In [83]:
l.insert(1,"gitam")

In [84]:
l

[1, 'gitam', 2, 3, 4, 5, 'python']

In [85]:
l.count(5)#tells how many times the value is repeated

1

In [86]:
l.index('gitam')

1

In [88]:
l.pop()
l      #removes the last value present inside the list

[1, 'gitam', 2, 3, 4]

In [89]:
l.pop(1)

'gitam'

In [90]:
l

[1, 2, 3, 4]

In [91]:
print(l)
li=["abc","gitam"]
print(li)
l.extend(li)
l

[1, 2, 3, 4]
['abc', 'gitam']

[1, 2, 3, 4, 'abc', 'gitam']

In [92]:
l=[3,78,54,12,54]
l.sort()
l

[3, 12, 54, 54, 78]

In [95]:
l.reverse()
l

[78, 54, 54, 12, 3]

In [100]:
#function to print the biggest number from the list
list1=[1,45,32,56,390]
def LargeNumber(l):
    l.sort()
    return l[-1]
list1=[1,45,32,56,390]
LargeNumber(list1)

390

In [102]:
list1=[1,45,32,56,390]
def LargeNumber(l,n):
    l.sort()
    return l[n]
list1=[1,45,32,56,390]
LargeNumber(list1,-2)

56

# tuple

In [103]:
t=(1,2,3)
t

(1, 2, 3)

difference between list and tuples:
- list--->[], tuples-->()
-list is mutable(changes can be made),tuple is immutable(changes cannot be made)

In [107]:
t1=(1,6.45,"python")
print(t1)
print(type(t1))

(1, 6.45, 'python')
<class 'tuple'>

In [108]:
t1[0:2]

(1, 6.45)

In [109]:
t1[-1]

'python'

In [111]:
help('tuple')

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

# dictionary:
- enclosed in {}
- value is seperated by :
- consists of key value pairs
- pairs are seperated by ,

In [113]:
d1={"name":"gitam","email id":"gitam@gmail.com","address":"hyd"}
d1
print(type(d1))

<class 'dict'>

In [114]:
d1["name"]

'gitam'

In [116]:

d1["email id"]="python@gmail.com"
d1

{'name': 'gitam', 'email id': 'python@gmail.com', 'address': 'hyd'}

In [118]:
d1["course"]="python"
d1

{'name': 'gitam',
 'email id': 'python@gmail.com',
 'address': 'hyd',
 'course': 'python'}

In [119]:
del d1['course']

In [120]:
d1

{'name': 'gitam', 'email id': 'python@gmail.com', 'address': 'hyd'}

In [121]:
d1.keys()

dict_keys(['name', 'email id', 'address'])

In [122]:
d1.values()

dict_values(['gitam', 'python@gmail.com', 'hyd'])

In [123]:
d={"course":"python","language":"english","course":"c"} #the keys must be unique or else it prints the last value of that key

In [124]:
d

{'course': 'c', 'language': 'english'}

# strings

In [136]:
s="python"
print(s[0])
print(s[0:4])
print(s[0:5:2])
print(s[::2])
print(s[0:-4])
print(s[::-1])

p
pyth
pto
pto
py
nohtyp

In [135]:
#function to check whether the string is pallindrome or not
def PallinString(s):
    if s == s[::-1]:
        print("pallindrome")
    else:
        print("not a pallindrome")
PallinString("string")

not a pallindrome

# string methods

- join():method to concatenate the strings

In [137]:
s
print(",".join(s))

p,y,t,h,o,n

In [138]:
s
print(" ".join(s))

p y t h o n

- split():used to split the statement or word

In [139]:
s3="python programming is easy to learn"
print(s3.split())

['python', 'programming', 'is', 'easy', 'to', 'learn']

In [140]:
s3="python programming is easy to learn"
print(s3.split('a'))

['python progr', 'mming is e', 'sy to le', 'rn']

In [141]:
s3="python programming is easy to learn"
print(s3.split('i'))

['python programm', 'ng ', 's easy to learn']

- replace:

In [143]:
s3
print(s3.replace("programming","application"))

python application is easy to learn